@page "/"
@inject IConfiguration Configuration

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>App Name: @Configuration["AppInfo:Name"]</p>
<p>Version: @Configuration["AppInfo:Version"]</p>

Welcome to your new app.
